[build]
  command = "pnpm run build"
  publish = "build"

[[redirects]]
  from = "/old-page"
  to = "/new-page"
  status = 301

[[redirects]]
  from = "/*"
  to = "/:splat"
  status = 301
  force = true

[[headers]]
  for = "/*"
  [headers]
    cache-control = "public, max-age=31536000, immutable"
    content-encoding = "br"
    content-encoding = "gzip"
